/*desktop minimun size:400x700px*/
@media screen and (min-width:400px) and (max-width:700px){
/*Corpo do site e fundo*/
html{
    height: 100%;
}
body{
    margin:0px;
    background-image:url(/arquivos/fundoPersonalizado2.png);
    background-repeat: no-repeat;
    height:3000px;

        /*background-color: rgb(190, 32, 32);*/
}

/*conteiner banner*/
.cb{
    height:200px;
}
#imgb{
    width:100%;
    height:200px;
}
/*Container Menu*/
.m{
    background-color:rgb(190, 32, 32);
    width:100%;
    height:70px;
    display: flex;
}
#imgm{
    width:100%;
}
/*subconteiner menu - caixas do menu*/

.pg{
    padding:10px;
    height:20px;
    width:100%;
    margin: 2px;
    position: relative;
    top:8px;
    background-color:rgb(167, 163, 163);
    border-radius: 5px;
    border: 5px rgb(24, 23, 23) solid;
    text-align: center;
  
}
.pg:hover{
    background-color:rgb(83, 81, 81);
    border:5px whitesmoke solid;
}
/*links do menu e página*/

#linksMenu{
  
    font-family: Bahnschrift;
    color:black;
    position: relative;
    top:-1px;
    text-align: center;
    font-size: 3vw;
}
#linksMenu:hover{
    color:aliceblue;
}
/*Conteiner Principal - Noticias da página*/
.cpn{
    background-color:none;
    width:100%;
    position: relative;
    top:0px;
}
/*Subconteiner Noticia - Notícia Principal*/
.tnp{
    background-color: black;
    position: relative;
    top:70px;
    left:-15px;
    border-radius: 20px;
    padding: 10px;
    width:150px;
}
.txnp{
    color:whitesmoke;
    font-family:Bahnschrift;
    font-size: 25px;
}
.scnp{
    background-color:none;
    width:90%;
    height:400px;
    position: relative;
    left:5%;
    top:0px;
    margin:10px;
}
/*Subconteiner Noticia principal - Imagem da notícia principal*/
#imgp{
    width:100%;
    height:400px;
}
/*Subconteiner Noticia Principal - Caixa de texto da notícia principal*/
.cxnp{
    background-color: rgba(24, 59, 56, 0.788);
    box-sizing: content-box;
    font-family:Bahnschrift;
    color: aliceblue;
    position: relative;
    top:-36%;
    height:30%;
    padding:10px;
    text-align:left;
}
/*Subconteiner Noticia pós principal*/
.sucn{
    box-sizing: content-box;
    width:80%;
    height:400px;
    position: relative;
    top:0px;
    left:9%; 
    margin:10px;
}
.tn{
    background-color: black;
    border-radius: 20px;
    width:150px;
    font-size: 25px;
    padding: 10px;
    position: relative;
    top:70px;
    left:-20px;

}
.txn{
    color:whitesmoke;
    font-family:Bahnschrift;
}

/*Subconteiner Noticias Restantes*/
.scn{
    box-sizing: content-box;
    width:80%;
    height:400px;
    position: relative;
    top:0px;
    left:9%; 
    margin:10px;
}
.tn{
    background-color: black;
    border-radius: 20px;
    width:150px;
    font-size: 25px;
    padding: 10px;
    position: relative;
    top:70px;
    left:-20px;

}
.txn{
    color:whitesmoke;
    font-family:Bahnschrift;
}

/*Subconteiner Notícia - Imagem da notícia*/
#imgn{
    width:100%;
    height:400px;
  
}
/*Subconteiner Notícia - Caixa de texto notícia*/
.cxn{
    background-color: rgba(24, 59, 56, 0.788);
    box-sizing: content-box;
    font-family:Bahnschrift;
    color: aliceblue;
    position: relative;
    top:-36%;
    height:30%;
    padding:10px;
    text-align: left;
    font-size: 13px;
}
.txsub{
    font-size: 20px;
}
/*Conteiner Rodapé Principal*/
.crp{
    display: flex;
    width: 100%;
    margin-top:70px;
}
/*Subconteiner Rodapé Principal - Logo do site*/
.lg{
    width:40%;
    background-color:rgba(26, 24, 24, 0.39);
    position: relative;
    top:0px;
}
#imgr{
    width:100%;
    position: relative;
    top:20%;
}
/*Subconteiner Rodapé Principal - Mapa do site*/
.ms{
    width:40%;
    position: relative;
    background-color:rgba(26, 24, 24, 0.39);
    height:190px;
    padding-left: 30px;
    padding-top: 20px;
}
.tmp{
    font-family:Bahnschrift SemiBold;
    background-color: black;
    color:whitesmoke;
    border-radius:10px;
    text-align: center;

}
.cxtr{
    border-radius: 10px;
    padding:10px;
    width:100%;

}
ul, a{
    list-style:none;
    text-decoration: none;
    margin: 0px;
    padding:0px;
}
.lcmr{
    color: rgb(80, 12, 12);
    font-family: Bahnschrift SemiBold;
    font-size: 15px;
}
.lcmr:hover{
    color:aqua;
    background-color:rgb(11, 7, 75);
    padding:5px;
}
/*Subconteiner Rodapé Principal - Fonte das notícias*/
.fn{
    font-family:Bahnschrift SemiBold;
    background-color:rgba(26, 24, 24, 0.39);
    width:40%;
    padding-top: 20px;
}
.fb{ 
    background-color: black;
    color: whitesmoke;
    border-radius: 10px;
    text-align: center;
    width:100px;
    position: relative;
    left:40px;
}
.ftr{
    margin:10px;
}
#imgfr{ 
    width:40px;
    margin: 5px;
}
/*.cifr{
    width:100%;
    opacity:80%;
    position: absolute;
    top:4000px;
}
#imgrf{ 
    width:100%;
}*/
}
/*desktop medium size:800x1024px*/
@media screen and (min-width:701px) and (max-width:1024px){
    /*Corpo do site e fundo*/
html{
    height: 100%;
}
body{
    margin:0px;
    height:100%;
    background-image: url(/arquivos/fundoPersonalizado3.png);
    background-repeat: no-repeat;
}
/*conteiner banner*/
.cb{
    height:200px;
    width:100%;
}
#imgb{
    width:100%;
    height:200px;
}
/*Container Menu*/
.m{
    background-color:rgb(190, 32, 32);
    width:100%;
    height:70px;
    display: flex;
    justify-content: center;
}
#imgm{
    width:100%;
}
/*subconteiner menu - links do menu*/
/*.pgP{
    width:100%;
    padding:10px;
    margin: 5px;
    background-color:rgb(167, 163, 163);
    border-radius: 5px;
    border: 5px rgb(24, 23, 23) solid;
    text-align-last: center;
}
.pgP:hover{
    background-color: rgb(83, 81, 81);
    border:5px rgb(231, 219, 219) solid;
}*/
.pg{
    padding:20px;
    width:10%;
    margin:5px;
    background-color:rgb(167, 163, 163);
    border-radius: 5px;
    border: 5px rgb(24, 23, 23) solid;
    text-align-last: center;
    position: relative;
    top:1px;
}
.pg:hover{
    background-color:rgb(83, 81, 81);
    border:5px whitesmoke solid;
    transition: 0.5s;
}
/*links do menu e página*/
/*#linksMenuP{
    font-size: 20px;
    font-family: agency fb;
    text-decoration: none;
    color:black;
    position: relative;
    top:0;
    text-align: center;
}
#linksMenuP:hover{
    color:aliceblue;
}*/
#linksMenu{
    font-size: 3vw;
    font-family: Bahnschrift;
    text-decoration: none;
    color:black;
    width:100%;
    position: relative;
    left:-1px;
    top:-10px;
    text-align: center;
}
#linksMenu:hover{
    color:aliceblue;
    font-size:35px;
    position: relative;
    top:-0px;
}
/*Conteiner Principal - Noticias da página*/
.cpn{
    background-color:none;
    width:100%;
    margin:0px;
    position: relative;
    top:20px;
}
/*Subconteiner Noticia - Notícia Principal*/
.tnp{
    background-color: black;
    position: relative;
    top:70px;
    left:-15px;
    border-radius: 20px;
    padding: 10px;
    width:150px;
}
.txnp{
    color:whitesmoke;
    font-family:Bahnschrift;
    font-size: 25px;
}
.scnp{
    background-color:none;
    width:90%;
    height:500px;
    position: relative;
    left:5%;
    top:-20px;
    margin:10px;
}
/*Subconteiner Noticia principal - Imagem da notícia principal*/
#imgp{
    width:100%;
    height:500px;
}
/*Subconteiner Noticia Principal - Caixa de texto da notícia principal*/
.cxnp{
    background-color: rgba(24, 59, 56, 0.788);
    box-sizing: content-box;
    color: aliceblue;
    position: relative;
    top:-174px;
    height:30%;
    padding:10px;
    text-align: left;

}
.txsub{
    font-size:25px;
    font-family:Bahnschrift;
}
/*Subconteiner Noticia pós principal*/
.sucn{
    box-sizing: content-box;
    width:80%;
    height:500px;
    position: relative;
    top:-10px;
    left:9%; 
    margin:10px;
}
.tn{
    background-color: black;
    border-radius: 20px;
    width:150px;
    font-size: 25px;
    padding: 10px;
    position: relative;
    top:70px;
    left:-20px;

}
.txn{
    color:whitesmoke;
    font-family:Bahnschrift;
}
/*Subconteiner Noticia Restantes*/
.scn{
    box-sizing: content-box;
    width:80%;
    height:500px;
    position: relative;
    top:-10px;
    left:9%; 
    margin:10px;
}
.tn{
    background-color: black;
    border-radius: 20px;
    width:150px;
    font-size: 25px;
    padding: 10px;
    position: relative;
    top:70px;
    left:-20px;
}
.txn{
    color:whitesmoke;
    font-family:Bahnschrift;
}
/*Subconteiner Notícia - Imagem da notícia*/
#imgn{
    width:100%;
    height:500px;
}
/*Subconteiner Notícia - Caixa de texto notícia*/
.cxn{
    background-color: rgba(24, 59, 56, 0.788);
    box-sizing: content-box;
    font-family:Bahnschrift;
    color: aliceblue;
    position: relative;
    top:-164px;
    height:30%;
    padding:5px;
    font-size: 13px;
}
/*Conteiner Rodapé Principal*/
.crp{
    display: flex;
    width: 100%;
    position: absolute;
    margin-top: 60px;
    background-color:rgba(26, 24, 24, 0.452);
    
}
/*Subconteiner Rodapé Principal - Logo do site*/
.lg{
    width:300px;
    height: 250px;
    position: relative;
    top:-30px;
}
#imgr{
    width:70%;
    position: relative;
    top:100px;
    left:30px;
}
/*Subconteiner Rodapé Principal - Mapa do site*/
.ms{
    width:300px;
    height:250px;
    position: relative;
    padding-left: 30px;
    padding-top: 30px;
    overflow: hidden;
  
}
.tmp{
    font-family:Bahnschrift SemiBold;
    background-color: black;
    color:whitesmoke;
    border-radius:10px;
    text-align: center;

}
.cxtr{

    border-radius: 10px;
    padding:10px;
    width:100%;
    height:100%;
}
ul, a{
    list-style:none;
    text-decoration: none;
    margin: 0px;
    padding:0px;
}
.lcmr{
    color: rgb(11, 7, 75);
    font-family: Bahnschrift SemiBold;
    font-size: 15px;
}
.lcmr:hover{
    color:aqua;
    background-color:rgb(11, 7, 75);
    padding:5px;
}
/*Subconteiner Rodapé Principal - Fonte das notícias*/
.fn{
    font-family:Bahnschrift SemiBold;
    
}
.fb{ 
    background-color: black;
    color: whitesmoke;
    border-radius: 10px;
    text-align: center;
    width:100px;
    position: relative;
    left:90px;
    top:30px;
    
}
.ftr{
    margin:10px;
    padding-top: 40px;
    position: relative;
    left: 50px;
}
#imgfr{ 
    width:40px;
    margin: 5px;

}
/*.cifr{
    width:100%;
    height:43%;

}
#imgrf{
    width:100%;
    height:100%;
    opacity:none;
    float:left;
}*/
}
/*desktop max size:1024x1440px*/
@media screen and (min-width:1024px) and (max-width:1440px){
    /*Corpo do site e fundo*/
html{
    height: 100%;
}
body{
    margin:0px;
    height:100%;
    background-image: url(/arquivos/fundoPersonalizado4.png);
    background-repeat: no-repeat;
}
/*conteiner banner*/
.cb{
    height:400px;
}
#imgb{
    width:100%;
    height:400px;
}
/*Container Menu*/
.m{
    background-color:rgb(190, 32, 32);
    width:100%;
    height:70px;
    display: flex;
}
#imgm{
    width:100%;
}
/*subconteiner menu - links do menu*/
/*.pgP{
    width:100%;
    padding:10px;
    margin: 5px;
    background-color:rgb(167, 163, 163);
    border-radius: 5px;
    border: 5px rgb(24, 23, 23) solid;
    text-align-last: center;
}
.pgP:hover{
    background-color: rgb(83, 81, 81);
    border:5px rgb(231, 219, 219) solid;
}*/
.pg{
    padding:10px;
    width:100%;
    margin: 5px;
    background-color:rgb(167, 163, 163);
    border-radius: 5px;
    border: 5px rgb(24, 23, 23) solid;
    text-align-last: center;
}
.pg:hover{
    background-color:rgb(83, 81, 81);
    border:5px whitesmoke solid;

}
/*links do menu e página*/
/*#linksMenuP{
    font-size: 20px;
    font-family: agency fb;
    text-decoration: none;
    color:black;
    position: relative;
    top:0;
    text-align: center;
}
#linksMenuP:hover{
    color:aliceblue;
}*/
#linksMenu{
    font-size: 35px;
    font-family: Bahnschrift;
    text-decoration: none;
    color:black;
    width:100%;
    position: relative;
    top:-3px;
    text-align: center;
}
#linksMenu:hover{
    color:aliceblue;
    font-size:35px;
    position: relative;
    top:-5px;
}
/*Conteiner Principal - Noticias da página*/
.cpn{
    background-color:none;
    width:100%;
    margin:0px;
    position: relative;
    top:40px;
}
.tnp{
    background-color: black;
    position: relative;
    top:70px;
    left:-15px;
    border-radius: 20px;
    padding: 10px;
    width:150px;
}
.txnp{
    color:whitesmoke;
    font-family:Bahnschrift;
    font-size: 25px;
}
/*Subconteiner Noticia - Notícia Principal*/
.scnp{
    background-color:none;
    box-sizing: content-box;
    width:90%;
    height:700px;
    position: relative;
    left:60px;
    top:-40px;
    margin:5px;
}
/*Subconteiner Noticia principal - Imagem da notícia principal*/
#imgp{
    width:100%;
    height:700px;
}
/*Subconteiner Noticia Principal - Caixa de texto da notícia principal*/
.cxnp{
    background-color: rgba(24, 59, 56, 0.788);
    box-sizing: content-box;
    font-family:Bahnschrift;
    color: aliceblue;
    position: relative;
    top:-253px;
    height:30%;
    text-align:left;
    padding: 20px;
}
.txsub{
    font-family:Bahnschrift;
    font-size: 30px;

}
/*Subconteiner Noticia pós principal*/
.sucn{
    box-sizing: content-box;
    width:80%;
    height:500px;
    position: relative;
    top:-30px;
    left:135px; 
    margin:10px;
}
.tn{
    background-color: black;
    border-radius: 20px;
    width:150px;
    font-size: 25px;
    padding: 10px;
    position: relative;
    top:70px;
    left:-20px;
}
.txn{
    color:whitesmoke;
    font-family:Bahnschrift;
}

/*Subconteiner Noticias Restantes*/
.scn{
    box-sizing: content-box;
    width:80%;
    height:500px;
    position: relative;
    top:-25px;
    left:10%; 
    margin:10px;
}
.tn{
    background-color: black;
    border-radius: 20px;
    width:150px;
    font-size: 25px;
    padding: 10px;
    position: relative;
    top:70px;
    left:-20px;
}
.txn{
    color:whitesmoke;
    font-family:Bahnschrift;
}
/*Subconteiner Notícia - Imagem da notícia*/
#imgn{
    width:100%;
    height:500px;
}
/*Subconteiner Notícia - Caixa de texto notícia*/
.cxn{
    background-color: rgba(24, 59, 56, 0.788);
    box-sizing: content-box;
    font-family:Bahnschrift;
    color: aliceblue;
    position: relative;
    top:-193px;
    height:30%;
    padding:20px;
    font-size: 13px;
}
/*Conteiner Rodapé Principal*/
.crp{
    display: flex;
    width: 100%;
    position: absolute;
    margin-top:100px;
    background-color: rgba(26, 24, 24, 0.452);
}
/*Subconteiner Rodapé Principal - Logo do site*/
.lg{
    width:400px;
    height: 350px;
    position: relative;
    top:0px;
}
#imgr{
    width:100%;
    position: relative;
    top:80px;
}
/*Subconteiner Rodapé Principal - Mapa do site*/
.ms{
    width:400px;
    height:250px;
    position: relative;

    padding-left: 30px;
    overflow: hidden;
  
}
.tmp{
    font-family:Bahnschrift SemiBold;
    background-color: black;
    color:whitesmoke;
    border-radius:10px;
    text-align: center;
    position: relative;
    top:30px;

}
.cxtr{
    position: relative;
    top:40px;
    border-radius: 10px;
    padding-left:10px;
    width:100%;
    height:100%;
}
ul, a{
    list-style:none;
    text-decoration: none;
    margin: 0px;
    padding:0px;
}
.lcmr{
    color: rgb(11, 7, 75);
    font-family: Bahnschrift SemiBold;
    font-size: 15px;
}
.lcmr:hover{
    color:aqua;
    background-color:rgb(11, 7, 75);
    padding:5px;
}
/*Subconteiner Rodapé Principal - Fonte das notícias*/
.fn{
    font-family:Bahnschrift SemiBold;
  
    width:400px;
    
}
.fb{ 
    background-color: black;
    color: whitesmoke;
    border-radius: 10px;
    text-align: center;
    width:100px;
    position: relative;
    top:30px;
    left:100px;
    
}
.ftr{
    margin:10px;
    padding-top: 50px;

}
#imgfr{ 
    width:40px;
    margin: 5px;

}
/*.cifr{
    width:100%;
    height:30%;

}
#imgrf{
    width:100%;
    float: left;
    opacity:100%;
}*/
}
